/* .signup, .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */



.signup {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup h1 {
    text-align: center;
    color: #333;
  }
  
  .signup h3 {
    text-align: center;
    color: #777;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  small {
    display: block;
    color: #777;
    margin-top: 5px;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  